.vscode/**
.venv/**
node_modules/**
.git/**
.gitignore
.gitattributes
.python-version
mise.toml
pyproject.toml
testing/**
out/**/*.map
src/**/*.ts
src/**/*.map
**/tsconfig.json
**/.eslintrc*
**/debug-notebook-*.vsix
DevGuide.md
production_checklist.md
